<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="row mb-3">
        <app-input-field
          id="nome"
          label="Nome"
          class="col-sm-12"
          formControlName='nome'
          [control]="this.form.get('nome')"
          [isValidField]="!!checkIsValidField('nome')"
        ></app-input-field>

        <div class="form-group has-validation col-sm-6">
          <label for="nome">Nome</label>

          <input
            type="text"
            class="form-control"
            formControlName='nome'
            id="nome"
            placeholder="Nome"
            [class.is-invalid]="checkIsValidField('nome')"
          >
          <app-error-msg [control]="form.get('nome')" label="Nome"></app-error-msg>
        </div>

        <div class="form-group has-validation col-sm-6">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName='email'
            id="email"
            placeholder="nome@email.com"
            [class.is-invalid]="checkIsValidField('email')"
          >

          <app-error-msg [control]="form.get('email')" label="Email"></app-error-msg>

          <span *ngIf="checkIsValidEmail('email')" class="invalid-feedback">
            Digite um email válido!
          </span>

          <span *ngIf="form.get('email')?.status === 'PENDING'" class="invalid-feedback">
            Validando email...
          </span>
        </div>

        <div class="form-group has-validation col-sm-6">
          <label for="confirmEmail">Confirme o seu email</label>
          <input
            type="email"
            class="form-control"
            formControlName='confirmEmail'
            id="confirmEmail"
            placeholder="nome@email.com"
            [class.is-invalid]="checkIsValidField('confirmEmail')"
          >
          <app-error-msg [control]="form.get('confirmEmail')" label="Confirmar email"></app-error-msg>
        </div>

        <div class="form-group has-validation col-sm-6">
          <label for="confirmEmail">Confirme o seu email</label>
          <input
            type="email"
            class="form-control"
            formControlName='confirmEmail'
            id="confirmEmail"
            placeholder="nome@email.com"
            [class.is-invalid]="checkIsValidField('confirmEmail')"
          >
          <span *ngIf="form.get('confirmEmail')?.hasError('equalsTo')" class="invalid-feedback">
            Emails não são iguais!
          </span>
        </div>
      </div>

      <div formGroupName="endereco">
        <div class="row mb-3">
          <div class="form-group has-validation col-sm-2">
            <label for="cep">CEP</label>
            <input
              id="cep"
              formControlName='cep'
              class="form-control"
              placeholder="00000-000"
              [class.is-invalid]="checkIsValidField('endereco.cep')"
            >
            <app-error-msg [control]="form.get('endereco.cep')" label="Cep"></app-error-msg>
          </div>

          <div class="form-group has-validation col-sm-2">
            <label for="numero">Número</label>
            <input
              id="numero"
              formControlName='numero'
              class="form-control"
              placeholder="Número"
              [class.is-invalid]="checkIsValidField('endereco.numero')"
            >
            <app-error-msg [control]="form.get('endereco.numero')" label="Número"></app-error-msg>
          </div>

          <div class="form-group col-sm-4">
            <label for="complemento">Complemento</label>
            <input
              id="complemento"
              formControlName='complemento'
              class="form-control"
              placeholder="Complemento"
            >
          </div>

          <div class="form-group has-validation col-sm-4">
            <label for="rua">Rua</label>
            <input
              id="rua"
              formControlName='rua'
              class="form-control"
              placeholder="Rua"
              [class.is-invalid]="checkIsValidField('endereco.rua')"
            >
            <app-error-msg [control]="form.get('endereco.rua')" label="Rua"></app-error-msg>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group has-validation col-sm-4">
            <label for="bairro">Bairro</label>
            <input
              id="bairro"
              formControlName='bairro'
              class="form-control"
              placeholder="Bairro"
              [class.is-invalid]="checkIsValidField('endereco.bairro')"
            >
            <app-error-msg [control]="form.get('endereco.bairro')" label="Bairro"></app-error-msg>
          </div>

          <div class="form-group has-validation col-sm-4">
            <label for="cidade">Cidade</label>
            <input
              id="cidade"
              formControlName='cidade'
              class="form-control"
              placeholder="Cidade"
              [class.is-invalid]="checkIsValidField('endereco.cidade')"
            >
            <app-error-msg [control]="form.get('endereco.cidade')" label="Cidade"></app-error-msg>
          </div>

          <div class="form-group has-validation col-sm-4">
            <label for="estado">Estado</label>
            <select
              id="estado"
              formControlName='estado'
              class="form-control"
             >
              <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
             </select>
             <app-error-msg [control]="form.get('endereco.estado')" label="Estado"></app-error-msg>
          </div>
        </div>
      </div>

      <div class="form-group has-validation col-sm-4">
        <label for="cargo">Cargo</label>
        <select
          id="cargo"
          formControlName='cargo'
          class="form-control"
          [compareWith]="compararCargos"
         >
          <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
         </select>

      </div>

      <div class="form-group has-validation col-sm-4">
        <label for="tecnologias">Tecnologias</label>
        <select multiple class="form-control" id="tecnologias" formControlName="tecnologias">
          <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="newsletter" class="control-label">Newsletter</label>
        <div id="newsletter" class="row">
          <div class="col-sm-4" *ngFor="let item of newsletterOp">
            <label class="radio-inline">
              <input type="radio" [value]="item.valor" formControlName="newsletter" /> {{ item.desc }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3" [class.is-invalid]="checkIsValidField('termos')">
          <div class="checkbox">
            <label class="checkbox-inline">
              <input type="checkbox" formControlName="termos"> Aceito os termos.
            </label>
          </div>
        </div>
        <app-error-msg [control]="form.get('termos')" label="Termos"></app-error-msg>
      </div>

      <div class="col-md-3" [class.is-invalid]="checkIsValidField('frameworks')">
        <label for="framewoks">Frameworks</label>
        <div id="frameworks" class="row">
          <div class="checkbox" class="col-sm-4" formArrayName="frameworks"
            *ngFor="let item of getFrameworksControls(); let i = index">
            <label class="checkbox-inline">
              <input type="checkbox" [formControlName]="i"> {{ frameworks[i] }}
            </label>
          </div>
        </div>
      </div>
      <app-error-msg [control]="form.get('frameworks')" label="Frameworks"></app-error-msg>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn" (click)="resetar()">Cancelar</button>
      <button type="button" class="btn" (click)="setarCargo()">Cargo</button>
      <button type="button" class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>

      <app-form-debug [form]='form'></app-form-debug>
    </div>
  </form>
</div>
