<div class="container">
  <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="row mb-3">
        <div class="form-group has-validation col-sm-6">
          <label for="nome">Nome</label>

          <input
            type="text"
            class="form-control"
            formControlName='nome'
            id="nome"
            placeholder="Nome"
            [class.is-invalid]="checkIsValidField('nome')"
          >

          <span *ngIf="checkIsValidField('nome')" class="invalid-feedback">
            Email é obrigatório!
          </span>
        </div>

        <div class="form-group has-validation col-sm-6">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName='email'
            id="email"
            placeholder="nome@email.com"
            [class.is-invalid]="checkIsValidField('email')"
          >

          <span *ngIf="checkIsValidField('email')" class="invalid-feedback">
            Email é obrigatório!
          </span>

          <span *ngIf="checkIsValidEmail('email')" class="invalid-feedback">
            Digite um email válido!
          </span>
        </div>
      </div>

      <div formGroupName="endereco">
        <div class="row mb-3">
          <div class="form-group has-validation col-sm-2">
            <label for="cep">CEP</label>
            <input
              id="cep"
              formControlName='cep'
              class="form-control"
              (blur)="consultaCEP()"
              placeholder="00000-000"
              [class.is-invalid]="checkIsValidField('endereco.cep')"
            >
            <span *ngIf="checkIsValidField('endereco.cep')" class="invalid-feedback">
              CEP é obrigatório!
            </span>
          </div>

          <div class="form-group has-validation col-sm-2">
            <label for="numero">Número</label>
            <input
              id="numero"
              formControlName='numero'
              class="form-control"
              placeholder="Número"
              [class.is-invalid]="checkIsValidField('endereco.numero')"
            >
            <span *ngIf="checkIsValidField('endereco.numero')" class="invalid-feedback">
              Número é obrigatório!
            </span>
          </div>

          <div class="form-group col-sm-4">
            <label for="complemento">Complemento</label>
            <input
              id="complemento"
              formControlName='complemento'
              class="form-control"
              placeholder="Complemento"
            >
          </div>

          <div class="form-group has-validation col-sm-4">
            <label for="rua">Rua</label>
            <input
              id="rua"
              formControlName='rua'
              class="form-control"
              placeholder="Rua"
              [class.is-invalid]="checkIsValidField('endereco.rua')"
            >
            <span *ngIf="checkIsValidField('endereco.rua')" class="invalid-feedback">
              Rua é obrigatório!
            </span>
          </div>
        </div>

        <div class="row mb-3">
          <div class="form-group has-validation col-sm-4">
            <label for="bairro">Bairro</label>
            <input
              id="bairro"
              formControlName='bairro'
              class="form-control"
              placeholder="Bairro"
              [class.is-invalid]="checkIsValidField('endereco.bairro')"
            >
            <span *ngIf="checkIsValidField('endereco.bairro')" class="invalid-feedback">
              Bairro é obrigatório!
            </span>
          </div>

          <div class="form-group has-validation col-sm-4">
            <label for="cidade">Cidade</label>
            <input
              id="cidade"
              formControlName='cidade'
              class="form-control"
              placeholder="Cidade"
              [class.is-invalid]="checkIsValidField('endereco.cidade')"
            >
            <span *ngIf="checkIsValidField('endereco.cidade')" class="invalid-feedback">
              Cidade é obrigatório!
            </span>
          </div>

          <div class="form-group has-validation col-sm-4">
            <label for="estado">Estado</label>
            <select
              id="estado"
              formControlName='estado'
              class="form-control"
             >
              <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
             </select>
            <span *ngIf="checkIsValidField('endereco.estado')" class="invalid-feedback">
              Estado é obrigatório!
            </span>
          </div>
        </div>
      </div>

      <div class="form-group has-validation col-sm-4">
        <label for="cargo">Cargo</label>
        <select
          id="cargo"
          formControlName='cargo'
          class="form-control"
          [compareWith]="compararCargos"
         >
          <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
         </select>
        
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn" (click)="resetar()">Cancelar</button>
      <button type="button" class="btn" (click)="setarCargo()">Cargo</button>

      <app-form-debug [form]='dataForm'></app-form-debug>
    </div>
  </form>
</div>
