<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group mb-3 has-validation">
    <label for="nome">Nome</label>
    <input
      type="text"
      class="form-control"
      name='nome'
      [ngModel]="usuario.nome"
      id="nome"
      placeholder="Nome"
      required
      #nome="ngModel"
      [class.is-invalid]="!nome.valid && nome.touched"
    >
    <!-- <div>
      {{ nome.className }}
    </div> -->

    <span *ngIf="!nome.valid && nome.touched" [class.invalid-feedback]="!nome.valid && nome.touched">
      Nome é obrigatório
    </span>
  </div>

  <div class="form-group mb-3">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      name='email'
      [ngModel]='usuario.email'
      id="email"
      placeholder="nome@email.com"
      required
      email
      #email="ngModel"
      [class.is-invalid]="!email.valid && email.touched"
    >
    <span *ngIf="!email.valid && email.touched" [class.invalid-feedback]="!email.valid && email.touched">
      Digite um email válido
    </span>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
